/* headerp.css */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.icons p{
    color: #00796B;
}
.logo {
    font-family: 'Arizonia';
    font-size: 24px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #B2DFDB;
    background-color: #00796B;
    padding: 0 10px;
}
.icons {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #B2DFDB;

}
.icons p, .icons img {
    cursor: pointer;
    margin: 10px 10px;
}
.icons img{
    width: 30px;
}
@media (max-width: 768px){
    .logo{
        padding: 0;
    }
}


/* Media Queries for larger screens */
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        height: 95px;
    }
    .logo {
        font-size: 40px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icons {
        font-size: 15px;
        padding-left: 200px;
        padding-right: 200px;
        width: auto;
        flex: 1;
        align-items: center;
        justify-content: space-between;
    }
}
