/* home.css */
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;


}
.welcome-image {
    background-color: #00796B;
    width: 100%;
    padding: 0 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-text {
    background-color: #B2DFDB;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.welcome-text p {
    font-size: 24px;
    text-align: center;
    color: #00796B;
}
.welcome-text button {
    margin-top: 20px;
    background-color: #00796B;
    color: #B2DFDB;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 2px;
    transition: ease-in-out 500ms;
    cursor: pointer;
}
.welcome-text button:hover {
    background-color: #038e7e;
}
.welcome-image img {
    width: 400px;
    height: 400px;
    transform: rotate(-18deg);
}
@media (max-width: 768px){
    .welcome-text{
        padding: 20px 0 ;
    }
    .welcome-image{
        padding: 0;
    }
    .welcome-image img{
        width: 300px;
        height: 300px;

    }
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
    .welcome {
        flex-direction: row;
        height: 632px;
    }
    .welcome-image {
        width: 400px;
        height: 632px;
        position: relative;
    }
    .welcome-text {
        flex: 1;
        height: 632px;
        position: relative;
    }
    .welcome-text p {
        position: absolute;
        top: 150px;
        left: 100px;
        font-size: 66px;
        width: 650px;
    }
    .welcome-text button {
        position: absolute;
        top: 340px;
        left: 350px;
    }
}

.about-me {
    background-color: #B2DFDB;
    padding: 20px;
}
.about-me-header {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.about-me-header p {
    color: #00796B;
    font-size: 32px;
    text-align: center;
}
.about-me-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.about-me-image {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}
.about-me-image img {
    border-radius: 5px;
    width: 100%;
}
.about-me-para {
    display: flex;

    align-items: center;
    justify-content: center;
}
.about-me-para p {
    font-size: 18px;
    width: 100%;
    max-width: 550px;
    background-color: #00796B;
    color: #B2DFDB;
    padding: 20px;
    border-radius: 10px;
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
    .about-me-header p {
        font-size: 50px;
    }
    .about-me-info {
        flex-direction: row;
        height: 602px;
        text-align: left;
    }
    .about-me-image {
        width: 450px;
        height: 525px;
        align-items: center;
        justify-content: center;
    }
    .about-me-para p {
        font-size: 20px;
        padding: 40px 60px;
    }
}

.skillset, .skillset2 {
    background-color: #B2DFDB;
    padding: 20px;
}
.skillset-header {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: #00796B;
    font-size: 32px;
    text-align: center;
}
.skillset-main, .skillset-main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00796B;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
}
.skillset-main img, .skillset-main2 img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}
.skillset-main p, .skillset-main2 p {
    font-size: 18px;
    width: 100%;
    max-width: 550px;
    background-color: #00796B;
    color: #B2DFDB;
    padding: 20px;
    border-radius: 10px;
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
    .skillset-header {
        font-size: 50px;
    }
    .skillset-main, .skillset-main2 {
        flex-direction: row;
        padding: 50px;
        margin: 50px;
        border-radius: 50px;
    }
    .skillset-main img, .skillset-main2 img {
        max-width: 400px;
        margin-right: 50px;
    }
    .skillset-main p, .skillset-main2 p {
        font-size: 20px;
        padding: 40px 60px;
    }
}
